{% extends "template.njk" %}
{% block content %}

<div class="textblockHighlight">
    <h1>Birds:</h1>
    {% for bird in birds %}
        {% include "components/singularbird.njk" %}
    {% endfor %}
</div>

{% endblock %}