<form action="/species" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="latin">Latin</label>
    <input type="text" name="latin" id="latin">
    <label for="wingspan_min">Wingspan min</label>
    <input type="number" name="wingspan_min" id="wingspan_min">
    <label for="wingspan_max">Wingspan max</label>
    <input type="number" name="wingspan_max" id="wingspan_max">
    <button type="submit">Submit</button>
  </form>